In [15]:
import pandas as pd

In [16]:
data=pd.DataFrame({'day':['sun','mon','tue','wed','thr','fri','sat']})

In [17]:
data

   day
0  sun
1  mon
2  tue
3  wed
4  thr
5  fri
6  sat

In [18]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
data['day_e']=encoder.fit_transform(data['day'])

In [19]:
data

   day  day_e
0  sun      3
1  mon      1
2  tue      5
3  wed      6
4  thr      4
5  fri      0
6  sat      2

In [20]:
# ordinal encoding

In [21]:
ordinal_e={'sun':1,'mon':2,'tue':3,'wed':4,'thr':5,'fri':6,'sat':7}

In [23]:
data['day_oe']=data['day'].map(ordinal_e)

In [24]:
data

   day  day_e  day_oe
0  sun      3       1
1  mon      1       2
2  tue      5       3
3  wed      6       4
4  thr      4       5
5  fri      0       6
6  sat      2       7