In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
data=pd.DataFrame({'sex':['m','f','m','m','f']})

In [17]:
data

  sex
0   m
1   f
2   m
3   m
4   f

In [18]:
data2=pd.get_dummies(data)

In [19]:
data2

   sex_f  sex_m
0      0      1
1      1      0
2      0      1
3      0      1
4      1      0

In [25]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(sparse=False)
data3=encoder.fit_transform(data[['sex']])
data3

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.]])

In [28]:
data3_d=pd.DataFrame(data3,columns=['sex_f','sex_m'])
data3_d

   sex_f  sex_m
0    0.0    1.0
1    1.0    0.0
2    0.0    1.0
3    0.0    1.0
4    1.0    0.0